header > h1, footer > p {
    font-size: xx-large;
}

article > header > img, aside > section > ul > li > img {
    max-height: 100px;
}

a:not(#annulla, #leggiNotifica-0, #leggiNotifica-1):hover, input[type="text"]:not(.removeHover):hover {
    background-color: darkblue !important;
    color: darkcyan !important;
}

footer > a:hover, input[type="submit"]:not(#insButton):hover, div > a:not(#annulla):hover, input#registration:hover {
    background-color: bisque !important;
    color: black !important;
}

a {
    text-decoration: none !important;
}

img#img-prodotto {
    border-radius: 8px;
    max-width: 75%;
    height: auto;
}

form > ul, div > ul, .removeProp {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form > ul > li > div > div > img, li > div > div > img, img#resize{
    height: 100px;
    width: 100px;
}

.cat{
    height: 150px;
}

.resize{
    width: auto; 
    max-height: 100%; 
}

.titoloProd{
    margin-top: 60px;
}

fieldset > label, li#stato-prodotto, .fontBolder, label#nomeProdotto, #totalPrice{
    font-weight: bolder;
}

table {
    border-style: solid;
}

#num-carta, #data-carta, #cvv-carta {
    width: 70%;
}

#paga {
    float: right;
}

#toast-container {
    position: relative;
}

.toast#show {
    position: absolute;
    top: 0;
    right: 0;
}

#toastTitle {
    font-weight: bold;
}

#toastTime {
    font-size: smaller;
}

#titoloarticolo {
    margin-left: 10px;
}

#testomedio, #testolungo{
    height: 100px;
    width: 400px;
    margin-left: 10px;
}

#titoloarticolo {
    margin-left: 110px;
}

#testoarticolo {
    margin-left: 68px;
}

#imgarticolo{
    margin-left: 18px;
}

#prezzoarticolo{
    margin-left: 106px;
}

#quantitàarticolo{
    margin-left: 90px
}

.bottomSpacing{
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .thumb-prodotto {
        width: 10%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .thumb-prodotto {
        width: 25%;
        height: auto;
    }
}
