header > h1, footer > p {
    font-size: xx-large;
}

article > header > img, aside > section > ul > li > img {
    max-height: 100px;
}

a:hover {
    background-color: darkblue !important;
    color: darkcyan !important;
}

footer > a:hover, input[type="submit"]:hover, div > a:hover, input#registration:hover {
    background-color: bisque !important;
    color: black !important;
}

a {
    text-decoration: none !important;
}

img#img-prodotto {
    border-radius: 8px;
    max-width: 75%;
    height: auto;
}

form > ul, div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form > ul > li > div > div > img, li > div > div > img, img#resize{
    height: 100px;
    width: 100px;
}

label:first-child, fieldset > label, li#stato-prodotto {
    font-weight: bolder;
}

table {
    border-style: solid;
}

#num-carta, #data-carta, #cvv-carta {
    width: 70%;
}

#paga {
    float: right;
}

@media (min-width: 768px) {
    #thumb-prodotto {
        width: 10%;
        height: auto;
    }
}

@media (max-width: 768px) {
    #thumb-prodotto {
        width: 25%;
        height: auto;
    }
}
