header > h1, footer > p {
    font-size: xx-large;
}

article > header > img, aside > section > ul > li > img {
    max-height: 100px;
}

a:hover {
    background-color: darkblue !important;
    color: darkcyan !important;
}

footer > a:hover, input[type="submit"]:hover {
    background-color: bisque !important;
    color: black !important;
}

a {
    text-decoration: none !important;
}

img#img-prodotto {
    width: 100%;
}

form > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form > ul > li > div > div > img{
    height: 100px;
    width: 100px;
}

label:first-child, fieldset > label {
    font-weight: bolder;
}
